body{
    font-size: 200;
    padding: 3rem;
    background-color:#c9d6ff ;
}
.resim{

    padding-left: 30rem;
}
.container #paragraf{

    font-size: 200;
}
.container{
    padding: 5rem;
    font-size: 25px;
}


